//===============================================================================
// PLAYERS
//===============================================================================
.player{
  width: 100px;
  height: 150px;
  position: relative;

  @include transition-property(left);
  @include transition-duration(2s);
}

.player-1{
  background-image: url('../img/player-1.png');
}

.player-2{
  background-image: url('../img/player-2.png');
}

.rest{
  -webkit-animation: rest 1.5s infinite ease-in-out;

  background-repeat: repeat-x;
  background-size: 600px 150px;
  background-position: 400px bottom;
}

@-webkit-keyframes rest {
  0% {background-size: 600px 150px;};
  50% {background-size: 600px 145px;};
}

.run{
  -webkit-animation: run 0.2s steps(3, end) infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes run {
  from {background-position: 400px 0;};
  to {background-position: 700px 0;};
}

.jump{
  -webkit-animation: jump .25s steps(3, end) infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes jump {
  from {background-position: 100px 0;};
  to {background-position: 400px 0;};
}

$poz: 143px;

.position-0{
  left: 0px;
}

.position-1{
  left: $poz;
}

.position-2{
  left: $poz * 2;
}

.position-3{
  left: $poz * 3;
}

.position-4{
  left: $poz * 4;
}

.position-5{
  left: $poz * 5;
}

.position-6{
  left: $poz * 6;
}