//===============================================================================
// VARIABLES
//===============================================================================
$paper: hsl(40,20,98);
$ink: hsl(40,10,30);

//===============================================================================
// IMPORTS
//===============================================================================
@import "compass/css3";
@import "_normalize.scss";
@import "_players.scss";

//===============================================================================
// MIXINS
//===============================================================================

//===============================================================================
// HELPER-CLASSES
//===============================================================================

//===============================================================================
// GLOBAL-STYLES
//===============================================================================
// apply box sizing everywhere
*{
  @include box-sizing(border-box);
}

body{
  background-color: $paper;
  color: $ink;
}

.wrap{
  width: 960px;
  margin: 0 auto;
}

//===============================================================================
// STYLES
//===============================================================================

header h1{
  text-align: center;
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.track{
  height: 155px;
  width: 960px;
  background-image: url('../img/track.png');
  background-repeat: no-repeat;
  background-position: 0 bottom;
}

.track-2{
  margin-top: -60px;
}